* {
    margin: 0;
    padding: 0;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #000;
}

#icon {
    width: 15vmin;
    height: auto;
    float: left;
    transform: translateY(-25%);
    overflow: visible;
}

.content {
    top: 15%;
    margin: 0% 35%;
    position: absolute;
    text-align: center;
    align-items: center;
    /* overflow: hidden; */
}

.title {
    animation: Slide_Up 2s ease;
}

.title h1 {
    color: rgb(67, 233, 94);
    font-size: 100px;
    font-weight: 300;
    margin-bottom: 20px;
    overflow: hidden;
    font-family: Courier;
}

.buttons a{
    text-decoration: none;
    
}

.option{
    display: block;
    margin-bottom: 50px;
    width: 100%;
    color: rgb(67, 233, 94);
    background-color: transparent;
    /* background-color: rgba(0,0,0,0.6); */
    font-size: 30px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    outline: solid 1px gray;
    box-shadow: inset 0 0 0 0 rgb(67, 233, 94);
    transition: ease-out 0.3s;
    outline: none;
    overflow: hidden;
    font-family: Courier;
    font-weight: bold;
}

.option:hover {
    box-shadow: inset 400px 0 0 0 rgb(67, 233, 94);
    cursor: pointer;
    color: black;
}

.option p {
    margin: 5px 20px;
}

#button1 {
    
    animation: Slide_Up 2.3s ease;

}

#button2 {
    animation: Slide_Up 2.5s ease;
}

#button3 {
    animation: Slide_Up 2.7s ease;
}


@keyframes Slide_Up {
    0% {
        transform: translateY(500px);
    }
    100% {
        transform: translateY(0);
    }
}


.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 5px 20px;
  }
  
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(67, 233, 94);
    cursor: pointer;
    margin: 12px 0px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(67, 233, 94);
    cursor: pointer;
    }

#diff {
    display: none;
    align-items: center;
    margin: 0px 5px;
    margin-bottom: 50px;
    height: 44px;
}

#diff a {
    text-decoration: none;
}

#play {

    font-size: 20px;
    font-family: Courier;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    /* margin: 12px 0px; */
    padding: 3px 10px;
    color: rgb(67, 233, 94);
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 0 0 rgb(67, 233, 94);
    transition: ease-out 0.3s;
    border-radius: 10px;


}

#play:hover {
    box-shadow: inset 400px 0 0 0 rgb(67, 233, 94);
    cursor: pointer;
    color: black;
}

#play p {
    text-decoration: none;
}

.bubble {
    background: rgb(67, 233, 94);
    color: black;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 0%;
    transform: translateY(170%);
    font-family: Courier;
    font-weight: bold;
    font-size: 10px;

}

.bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgb(67, 233, 94);
    top: -1px;
    left: 30%;
  }